* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
	line-height: 25px;
}

a:hover {
	text-decoration: none;
	color: red;
}

body {
	font-family: "Source Han Sans", "微软雅黑", "microsoft yahei", "HanHei SC", PingHei, "PingFang SC", sans-serif;
	display: block;
}

.box {
	height: auto;
	font-size: 13px;
	color: #333;
	line-height: 1.42857;
	background-color: #fff;
	text-decoration: none;
	padding: 0;
}

header {
	height: 70px;
	background: white;
	max-width: 1280px;
}

header.container {
	max-width: 1280px;
}

header>img {
	margin-top: 10px;
	float: left;
}

header>ul {
	height: 70px;
	width: 94%;
	float: right;
	margin: 0 0 0 14px;
}

header>ul>li {
	float: left;
	line-height: 68px;
	margin: 0 10px;
	font-size: 12px;
	position: relative;
	z-index: 1;
}

header>ul>li>a {
	color: #333;
}

header>ul>li:hover>a {
	color: red;
}

header>ul>li:hover {
	border-bottom: 2px red solid;
}

header>ul>li:nth-child(8) {
	float: right;
	background: url(../imgs/header-phoneicon.png) no-repeat 0 -83px;
	display: block;
	width: 40px;
	height: 19px;
	margin-top: 25px;
	margin-left: 20px;
}

header>ul>li:nth-child(9) {
	float: right;
}

header>ul>li:nth-child(9):hover {
	border-bottom: none;
}

header>ul>li:nth-child(8):hover {
	border-bottom: none;
}

header>ul>li:nth-child(2)>div {
	width: 1280px;
	height: 388px;
	position: absolute;
	background: white;
	left: -144px;
	display: none;
}

header>ul>li:nth-child(2)>div>.lefts {
	padding: 30px;
	width: 1090px;
	height: 388px;
	float: left;
	overflow: hidden;
}

header>ul>li:nth-child(2)>div>.lefts>table {
	line-height: 30px;
	float: left;
	text-align: left;
	margin-top: 20px;
	position: relative;
}

header>ul>li:nth-child(2)>div>.lefts>p {
	position: absolute;
	top: 10px;
	display: block;
}

header>ul>li:nth-child(2)>div>.lefts>.tab2 {
	height: 340px;
	border-right: 1px #ccc solid;
	border-left: 1px #ccc solid;
}

header>ul>li:nth-child(2)>div>.lefts>table>tbody>tr>td {
	margin: 0 16px;
	display: inline-block;
	vertical-align: top;
}

header>ul>li:nth-child(2)>div>.lefts>table>tbody>tr:nth-child(1)>td {
	margin: 0 32px;
	display: inline-block;
	font-weight: 700;
}

header>ul>li:nth-child(2)>div>.lefts>table:nth-child(2)>tbody>tr:nth-child(1)>td {
	margin: 0 20px;
}

header>ul>li:nth-child(2)>div>.rights {
	width: 190px;
	height: 388px;
	background: whitesmoke;
	float: right;
	padding: 30px;
	line-height: 30px;
}

header>ul>li:nth-child(2)>div>.rights>button {
	width: 130px;
	margin-top: 10px;
}

#p1 {
	position: absolute;
	float: left;
	width: 110px;
	height: 30px;
	font-size: 18px;
	text-align: right;
	line-height: 15px;
	font-weight: 600;
}

#p1>i {
	display: inline-block;
	width: 32px;
	height: 18px;
	background: url(../imgs/header-wlicon.png);
	float: left;
}

#p2 {
	position: absolute;
	float: left;
	width: 110px;
	height: 30px;
	font-size: 18px;
	text-align: right;
	line-height: 15px;
	font-weight: 600;
}

#p2>i {
	display: inline-block;
	width: 32px;
	height: 18px;
	background: url(../imgs/header-wlicon.png) 0 70px;
	float: left;
}

#p3 {
	position: absolute;
	float: left;
	width: 110px;
	height: 30px;
	font-size: 18px;
	text-align: right;
	line-height: 15px;
	font-weight: 600;
}

#p3>i {
	display: inline-block;
	width: 32px;
	height: 18px;
	background: url(../imgs/header-wlicon.png) 0 44px;
	float: left;
}

header>ul>li:nth-child(4)>div {
	width: 144px;
	height: 164px;
	background: white;
	position: absolute;
	left: -50px;
	padding: 20px;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	top: 70px;
	display: none;
}

header>ul>li:nth-child(5)>div {
	width: 250px;
	height: 192px;
	position: absolute;
	background: white;
	left: -40px;
	top: 70px;
	padding: 20px;
	text-align: center;
	line-height: 20px;
	display: none;
}

header>ul>li:nth-child(5)>div>.span1 {
	width: 100px;
	height: 150px;
	display: inline-block;
	vertical-align: top;
}

header>ul>li:nth-child(5)>div>.span2 {
	width: 100px;
	height: 150px;
	display: inline-block;
	border-left: #F1F1F1 1px solid;
}

header>ul>li:nth-child(6)>div {
	width: 130px;
	height: 162px;
	position: absolute;
	background: white;
	left: -10px;
	top: 70px;
	padding: 20px;
	text-align: left;
	line-height: 20px;
	display: none;
}

header>ul>li:nth-child(7)>div {
	width: 130px;
	height: 222px;
	position: absolute;
	background: white;
	left: -40px;
	top: 70px;
	padding: 20px;
	text-align: center;
	line-height: 20px;
	display: none;
}

header>ul>li:nth-child(9)>span {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../imgs/header-phoneicon.png) no-repeat 1px -27px;
	vertical-align: middle;
	margin: 0 2px;
}

header>ul>li:nth-child(8)>div {
	width: 400px;
	height: 430px;
	background: white;
	left: -335px;
	top: 15px;
	padding: 60px 20px 20px 20px;
	text-align: left;
	line-height: 25px;
	position: absolute;
	display: none;
}

header>ul>li:nth-child(8)>div>a {
	display: block;
	width: 360px;
}

header>ul>li:nth-child(2):hover>div {
	display: block;
}

header>ul>li:nth-child(4):hover>div {
	display: block;
}

header>ul>li:nth-child(5):hover>div {
	display: block;
}

header>ul>li:nth-child(6):hover>div {
	display: block;
}

header>ul>li:nth-child(7):hover>div {
	display: block;
}

header>ul>li:nth-child(8):hover>div {
	display: block;
}


header>.str {
	width: 500px;
	height: 500px;
	background: aquamarine;
	position: fixed;
	top: 200px;
	left: 50%;
	margin-left: -300px;
	display: none;
	z-index: 12330;
}

header>.str>.stop {
	width: 500px;
	height: 45px;
	border-bottom: 1px solid #f1f1f1;
	background: white;
	border-top: 5px red solid;
}

header>.str>.stop>a {
	width: 82px;
	height: 40px;
	margin-left: 20px;
	line-height: 40px;
	text-align: center;
	display: block;
	float: left;
	color: #000000;
}

header>.str>.stop>span {
	float: right;
	font-size: 16px;
	line-height: 40px;
	margin-right: 20px;
	cursor: pointer;
}

header>.str>.stop>a:nth-child(1) {
	color: #dc1e32;
	background: #f2f2f2;
	border-bottom: 1px red solid;
}

header>.str>.sbot {
	width: 100%;
	height: 455px;
	background: white;
	text-align: center;
	padding: 0 30px;
}

header>.str>.sbot>a {
	color: red;
	text-align: right;
	display: block;
	line-height: 50px;
}

header>.str>.sbot>img {
	margin: 10px auto;
}

header>.str>.sbot>span {
	color: #999;
	display: block;
	margin: 3px auto;
}

header>.str>.sbot>input {
	margin: 10px 0;
}

header>.str>.sbot>p>a {
	color: red;
}

header>.str>.sbot2 {
	width: 100%;
	height: 455px;
	background: white;
	text-align: center;
	padding: 10px 30px;
	display: none;
}

header>.str>.sbot2>div>.dens {
	height: 48px;
	border-radius: 24px;
	min-width: 229px;
}

header>.str>.sbot2>p {
	line-height: 30px;
}

header>.str>.sbot2>span {
	font-size: 11px;
	color: #ceb0b0;
}

#dtext {
	border: none;
	outline: none;
	border-bottom: 3px solid red;
	margin: 20px 0;
}

#tbs {
	border-bottom: 3px solid red;
	height: 38px;
	margin-left: 1px;
	border-radius: 0px;
	margin: 20px 0;
}
